/*Somehow * berarti keseluruhan html?*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Badan keseluruhan*/
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

/*Kepala dalam Badan*/
header {
    color: #f4f4f9;
    background-color: #5a9bd4;
    width: 100%;
}
header img {
    padding: 15px;
    width: 150px;
}
header h1 {
    font-size: 50px;
}
header h2 {
    font-size: 20px;
    padding-bottom: 10px;
}

/*Badan dalam Badan (huh)*/
main {
    background-image: url(../images/index/background.jpg);
    background-position: center;
}
#kepala {
    background-color: #2f4858e1;
    color: #f4f4f9;
    padding: 20px;
}
#kepala h1 {
    padding-bottom: 20px;
}

#paragraf {
    font-size: 15px;
}

/*Kompetensi Keahlian*/
#j2 {
    font-size: 30px;
    padding: 20px;
    color: #f4f4f9;
    background-color: #363636b9;
}
button {
    background-color: #ffffff8c;
    color: #363636;
    font-size: 12px;
    margin: 8px;
    width: 250px;
    height: 250px;
}
button:hover {
    filter: brightness(90%);
    cursor: pointer;
}
img {
    width: 200px;
    padding-bottom: 10px;
}
table {
    margin: auto;
    padding: 15px;
    border-collapse: collapse;
}

/*Kaki di bawah Badan*/
footer {
    background-color: #a0c1b9;
    padding: 10px;
}
footer p {
    font-size: 15px;
}
footer button {
    width: 200px;
    height: 50px;
    background-color: #2f4858;
    border-color: #2f4858;
    color: #f4f4f9;
}